<a href="/libraries">Library Index</a> | <a href="/books">Books Index</a> |
<%= link_to "Library Books Index", "/libraries/#{@library.id}/books" %>


<h1><%= @library.name %></h1>
<h3>Public?</h3>
  <%if @library.public == nil %>
    <p><%= false %></p>
    <% else %>
    <p><%= true %></p>
  <% end %>
<h3>Years Opened:</h3>
<p><%= @library.years_opened %></p>
<h3>Number of Books:</h3>
<p><%= @library.books_count %></p>
<h3>Created at:</h3>
<p><%= @library.created_at %></p>
<h3>Updated at:</h3>
<p><%= @library.updated_at %></p>
<br>
<a href="/libraries/<%= @library.id %>/edit">Update Library</a><br><br>
<a><%= link_to "Delete Library", "/libraries/#{@library.id}", method: :delete %></a>
