<a href="/libraries">Library Index</a>

<h1><%= @library.name %></h1>
<h3>Public?</h3>
<h3><%= @library.public? %></h3>
<h3>Years Opened:</h3>
<p><%= @library.years_opened %></p>
<h3>Created At:</h3>
<p><%= @library.created_at %></p>
<h3>Updated At:</h3>
<p><%= @library.updated_at %></p>
<a href="/libraries/<%= @library.id %>/edit">Edit</a>
