<a href="/books">Book Index</a>

<h1><%= @book.title %></h1>
<h3>Checked Out?</h3>
  <%if @book.checked_out == nil %>
    <p><%= false %></p>
    <% else %>
    <p><%= true %></p>
  <% end %>
<h3>Number of Pages:</h3>
<p><%= @book.pages %></p>
<a href="/books/<%= @book.id %>/edit">Update Book</a>
