<a href="/libraries">Library</a>

<h1><%= @library.name %>'s Books</h1>


<h2>Please enter a number:</h2>
<%= form_with url: "/libraries/#{@library.id}/books", method: :get, local: :true do |form| %>
  <%= form.label :title, "Only return records with more than 'n' number of pages" %>
  <%= form.text_field :title, id: 'title' %>
  <%= form.submit "Submit" %>
<% end %><br>

<!-- <form action="/libraries/#{@library.id}/books" method="get">
  <label for="title">
    Only return records with more than 'n' number of pages
    <input type="text" id="title" name="title">
  </label>
  <input type="submit" value="Submit">
</form> -->

  <h2><a><%= link_to "Create Book", "/libraries/#{@library.id}/books/new" %></a></h2>

<ul>
  <% @library.books.each do |book| %>
    <li>
      <h2>Book Title:</h2>
      <h3><%= book.title %></h3>

      <h2>Checked Out?</h2>
      <h3><%= book.checked_out %></h3>

      <h2>Number of Pages:</h2>
      <h3><%= book.pages %></h3>

      <h2>Created At:</h2>
      <h3><%= book.created_at %></h3>

      <h2>Updated At:</h2>
      <h3><%= book.updated_at %></h3>
    </li>
  <% end %>
</ul>

<h2><a><%= link_to "Sort Books", "/libraries/#{@library.id}/books" %></a></h2>
