<a href="/locations">Locations</a>
<br>
<a href="/bookstores">Bookstores</a>
<br><br>
<h2><%= @location.name %></h2>

<form action="/locations/<%= @location.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Update information below:</p>
  <label for="name">Location Name</label><br>
  <input type='text' name='location[name]' value="<%= @location.name %>" id='loc_name'/><br/>
  <label for="name">Location Population</label><br>
  <input type='number' name='location[population]' value="<%= @location.population %>" id='loc_pop'/><br/>
  <label for="name">Urban?</label><br>
  <input type='checkbox'name='location[urban]' id='urban?'/><br/>
  <input type='submit' id='submit'/>
</form>
