<a href="/locations">Locations</a>
<br><br>
<h1><%= @location.name %></h1>
<h2>Population:</h2>
<p><%= @location.population %></p>
<h2>Urban?</h2>
<%if @location.urban == nil %>
    <p><%= false %></p>
    <% else %>
    <p><%= true %></p>
  <% end %>
<h2>Created at:</h2>
<p><%= @location.created_at %></p>
<h2>Updated at:</h2>
<p><%= @location.created_at %></p>
<br>
<a href="/locations/<%= @location.id %>/bookstores"><%= @location.name %> Bookstores</a>
<br>
<a href="/locations/<%= @location.id %>/edit">Edit Location</a>
<br><br>

<a><%= link_to "Delete", "/locations/#{@location.id}", method: :delete %></a>
